/* Dashboard Container */
.dashboard-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Heading */
.dashboard-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f25f0a;
    margin-bottom: 20px;
    text-align: "center";
    margin-Bottom: "20px"
}

/* Dropdown */
.filter-container {
    margin: 20px;
}

.item-container{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Summary Cards */
.summary-card {
    text-align: center;
    padding: 15px;
    transition: transform 0.2s ease-in-out;

}

.card-content{
    min-width: 100px;
    max-width: 120px;
}


.summary-card:hover {
    transform: scale(1.05);
}


.summary-icon {
    color: #1565C0;
    font-size: 2.5rem !important;
}

.chart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chart-grid{
   
    width: 100%;
}

/* Bar Chart Cards */
.chart-card {
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.chart-card:hover {
    transform: scale(1.03);
}

/* Most Reviewed & Incomplete Data */
.highlight-card {
    padding: 15px;
    text-align: center;
   
    transition: transform 0.2s ease-in-out;
}

.highlight-card:hover {
    transform: scale(1.05);
}

.incomplete-card {
    background-color: #FFEBEE !important;
    padding: 15px;
    text-align: center;
}

/* Map */
.map-container {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
